<div class="row">
    <div class="col">
        <!-- Lista de productos -->
    </div>
    <div class="col">
        <!-- Información del precio total del carrito -->
        <%= @cart.total %>
    </div>
</div>
